<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Todo List</h1>
<a href="/add">Add a Todo</a><br />
<table>
    <tr>
        <th>Task Name</th>
        <th>Due Date</th>
        <th>Priority</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.taskName}"></td>
        <td th:text="${todo.dueDate}"></td>
        <td th:text="${todo.priority}"></td>
        <td>
            <a th:href="@{/details/{id}(id=${todo.id})}">Details</a>
            <a th:href="@{/update/{id}(id=${todo.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>

        </td></tr>
</table>
</body>
</html>